.featured-posts {
  display: grid;
  grid-gap: $spacer-3;
  margin-bottom: $spacer-3;
  grid-template-columns: 1;

  .card__copy > *:last-child:not(:first-child) {
    margin-top: 0;
  }

  .card {
    a, a:hover {
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, 1fr);
    .card {
      &:first-child {
        grid-column-start: 1;
        grid-column-end: 4;
      }
      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      &:last-child {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
}